---
layout: layouts/home.njk
eleventyNavigation:
  key: Principal 
  order: 1
---

<h1>Últimos 10 Posts</h1>

{% set postslist = collections.posts | head(-10) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>Mais posts disponiveis no <a href="{{ '/posts/' | url }}">Arquivo</a>.</p>
